.cellColumns
    display grid
    grid-template-columns 1fr 1fr
    justify-content center
    max-width 650px
    margin 0 auto
    padding 10px

.column 
  display grid
  grid-template-rows repeat(3, 105px)
  max-width 600px
  margin 0 auto
  padding 10px