.search
    display flex
    padding 6px 0
    margin 0 auto
    width 70%
    max-width 480px
    border 1px solid black
    border-radius 0
    box-shadow none
    .searchText
        width 90%
        padding 0 5px
        margin-left 10px
        input 
            height 28px
            border none
            font-size 18px
            font-family 'Open Sans'
            outline none
            width 100%
    .searchIcon
        width 28px
        line-height 28px
        img
            vertical-align middle