$textColor = #54595F

.lang
  margin-left auto
  text-align right
  font-family Montserrat
  font-size 14px
  font-weight 700
  padding 10px
  a
    color $textColor
    text-decoration none
    &:hover
      cursor: pointer
